@charset "UTF-8";

/*Cores: 

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

Fontes: 

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
}

main {
    width: 290px;
    background-color: hsl(216, 50%, 16%);
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 10px 30px;
}

.img-cima {
    margin-top: 15px;
    text-align: center;
}

.imgcima {
    width: 90%;
    border-radius: 7px;
}

.imgcima:hover {
    cursor: pointer;
}

.texto {
    padding: 15px;
}

.texto > h1 {
    font-size: 19px;
    font-family: 'Outfit';
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-bottom: 10px;
}

.texto > h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.frase {
    font-size: 15px;
    font-family: 'Outfit';
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    line-height: 25px;
}

.num {
    display: flex;
    margin-top: 20px;
    margin-bottom: 7px;
}

.cripto {
    margin-left: 7px;
    margin-right: 90px;
    font-family: 'Outfit';
    color: hsl(178, 100%, 50%);
    font-size: 13px;
}

.dias {
    margin-left: 7px;
    font-family: 'Outfit';
    color: hsl(215, 51%, 70%);
    font-size: 13px;
}

.baixo {
    display: flex;
    justify-content: space-between;
}

.imgbaixo > img {
    width: 40px;
    padding: 1px;
    margin: 15px;
    border-style:solid;
    border-radius: 70px;
    border-color: white;
    border-width: 1px;
}

.textobaixo {
   margin: auto;
   font-family: 'Outfit';
   color: hsl(215, 51%, 70%);
   font-weight: 400;
   font-size: 14px;
}

.nome {
    color: white;
}

.nome:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    
}

hr {
    border-color: hsl(215, 51%, 70%);
    width: 260px;
    margin: auto;
}
